.listproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 101vh;
  padding: 10px 50px;
  margin: 10px;
  border-radius: 10px;
  background: #fff;
}
.listproduct-format-main{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listproduct-format{
  width: 100%;
  align-items: center;
  font-weight: 500;
}
.listproduct-product-icon{
    height: 80px;
}
.listproduct-remove-icon{
  cursor: pointer;
  margin: auto;
}
.listproduct-allproducts{
  width: 100%;
  overflow-y: auto;
}
.listproduct-allproducts::-webkit-scrollbar{
    display: none;
}
